{% extends 'base.html' %}

{% block maps %}
<div class="container">

    <div class="row">

      <div class="col">
        <!-- COLUMN ONE -->
        <div class="row">
            <div class="col">
                <div id="filter-form">
                    <h3>Filter locations by movie</h3>
                    <select name = "chosen_movie" onchange="filterMarkers(this.value);">
                        <option value="all">See all</option>
                        {%for movie in movies%}
                        <option value="{{movie.title}}"> {{movie.title}} </option>
                        {%endfor%}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id = "info-bar">
                    <h2>Info bar: </h2>
                    <div id = 'info-card'>
                    </div>
                </div>
            </div>
        </div>
      </div>  
      <div class="col">
         <!-- COLUMN TWO -->
        <div id = "map-canvas">
            <div id="map" style="width: 50%; height: 100%; position: absolute;">
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block after_body %}
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{maps_api_key}}&callback=initMap">
</script>
{% endblock %}
