{%block location_modal%}

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form action ="/new-location" method='POST' enctype="multipart/form-data">
          <div class="form-group">
              <label for="inputpic">Image</label>
              <input type="file" name="inputpic" class="form-control" id="inputfile">
          </div>
          <div class="form-group">
              <label for="pic-description">Description</label>
              <input type="text" name = "pic-description" class="form-control" id="pic-description">
          </div>
          <div class="form-group">
              <label for="pic-nameirl">Place</label>
              <input type="text" name = "pic-nameirl" class="form-control" id="pic-nameirl">
          </div>
          <div class="form-group">
            <label for="chosen-moive">Movie</label><br>
            <select name = "chosen-movie">
              {%for movie in movies%}
              <option value="{{movie.title}}"> {{movie.title}} </option>
              {%endfor%}
            </select>
          </div>        
          <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  
  </div>
{%endblock%}