{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<h1>Hello {{user.first_name}} </h1>
<p>What would you like to do?</p>

<h2>User Functions</h2>
<!-- Trigger/Open The Modal -->
<button id="myBtn">Upload New Moment</button>

<!-- The Modal -->
{% include 'submitlocation.html' %}
{% block location_modal %}
{% endblock %}

<div>
  {% for location in locations%}
  <div class="movie-card location-{{location["location_id"]}}"> 
    <div class="card">
      <img class="card-img-top" src={{location["photo"]}} alt="A picture of {{location["name_irl"]}}"></img>
        <div class="card-body">
          <h5 class="card-title"> {{location["name_irl"]}}</h5> 
          <h6 class="card-sub-title"> {{location["place_movie"]}} from {{location["movie"]}} </h6>
          <p class="card-text">{{location["description"]}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> 
  </div>
  {%endfor%}
</div>


<h3>Settings</h3>
<p>Change email address</p>
<p>Delete Account</p>


<script src="/static/user-functions.js"></script>

{% endblock %}